<%= form_with scope: :calculation do |form| %>
<div style="display: inline-block">
  <h3>Rates & Hours</h3>
  <%= form.label "Hourly Rate" %><br>
  <%= form.number_field :hourly_rate, :value => @statement.parameters['hourly_rate'], :step => 0.01 %><br>

  <%= form.label "Overtime Rate" %><br>
  <%= form.number_field :overtime_rate, :value => @statement.parameters['overtime_rate'], :step => 0.01 %><br>

  <%= form.label "Overtime Hours" %><br>
  <%= form.number_field :overtime_hours, :value => @statement.parameters['overtime_hours'], :step => 0.01  %><br>
</div>
<div style="display: inline-block">
  <h3>Insurance</h3>
  <%= form.label "Life"%><br>
  <%= form.number_field :life_insurance_premium, :value => @statement.parameters['life_insurance_premium'], :step => 0.01 %><br>

  <%= form.label "Vision" %><br>
  <%= form.number_field :vision_insurance, :value => @statement.parameters['vision_insurance'], :step => 0.01  %><br>

  <%= form.label :health_insurance, 'Health (FEHB)' %><br>
  <%= form.number_field :health_insurance, :value => @statement.parameters['health_insurance'], :step => 0.01 %><br>

  <%= form.label :fsa_contribution, 'FSA' %><br>
  <%= form.number_field :fsa_contribution, :value => @statement.parameters['fsa_contribution'], :step => 0.01  %><br>

  <%= form.label :non_taxable_additional, 'Additional (Non-Taxable)' %><br>
  <%= form.number_field :non_taxable_additional, :value => @statement.parameters['non_taxable_additional'], :step => 0.01  %><br>

  <%= form.label :tax_deferred_additional, 'Additional (Tax-Deferred)' %><br>
  <%= form.number_field :tax_deferred_additional, :value => @statement.parameters['tax_deferred_additional'], :step => 0.01  %><br>
</div>
<div style="display: inline-block">
  <h3>Exemptions & Status</h3>
  <%= form.label :federal_exemptions, "Federal Exemptions" %><br>
  <%= form.select :federal_exemptions, options_for_select((0..10).to_a, @statement.parameters['federal_exemptions'].to_s) %><br>

  <%= form.label :state_exemptions, "State Exemptions" %><br>
  <%= form.select :state_exemptions, options_for_select((0..10).to_a, @statement.parameters['state_exemptions'].to_s) %><br>

  <%= form.label :marital_status, "Marital Status" %><br>
  <%= form.select :marital_status, options_for_select(['single', 'married'], @statement.parameters['marital_status']) %><br>
</div>
<div style="display: inline-block">
  <h3>TSP & FERS Code</h3>
  <%= form.label :tsp, 'TSP (%)' %><br>
  <%= form.number_field :tsp_percentage, :value => @statement.parameters['tsp_percentage'], :step => 0.0000000001 %><br>

  <%= form.label :fers_code, "FERS Code" %><br>
  <%= form.select :fers_code, options_for_select(['K - 0.80%', 'KR - 3.10%', 'KF - 4.40%'], @statement.parameters['fers_code'])
  %><br>
</div>
<div>
  <%= form.submit "Calculate" %>
</div>
<% end %>
<div id="statement"></div>
