<%= link_to "Home", root_path %> 
<%= @test %>
<%= form_with scope: :calculation, url: calculations_path, local: true do |form| %>
  <p>
    <%= form.label :income %><br>
    <%= form.text_field :income %>
  </p>

  <p>
    <%= form.label :deductions %><br>
    <%= form.text_area :deductions %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
