<div style="display: inline-block">
  <%= "Gross Pay $#{statement.gross_pay.round(2)}" %><br>
  <%= "Taxable Wages $#{statement.taxable_wages.round(2)}" %><br>
  <%= "Non-taxable Wages $#{statement.non_taxable_wages.round(2)}" %><br>
  <%= "Tax-deferred Wages $#{statement.tax_deferred_wages.round(2)}" %><br>
  <%= "Deductions $ #{statement.summed_deductions.round(2)}" %><br>
  <%= "Net Pay #{statement.take_home_pay.round(2)}" %>
</div>
<div style="display: inline-block">
  <h3>Current Earnings</h3>
  <%= "Regular Pay $#{statement.regular_pay.round(2)}" %><br>
  <%= "Overtime Pay $#{statement.overtime_pay.round(2)}" %>
</div>
<div style="display: inline-block">
  <div style="display: inline-block">
    <h3>Deductions</h3>
    <%= "FEHB $#{statement.health_insurance.to_f}"%><br>
    <%= "Medicare $#{statement.medicare_deduction.round(2)}" %><br>
    <%= "Retire, FERS $#{statement.fers_deduction.round(2)}" %><br>
    <%= "Tax, State $#{statement.state_tax.round(2)}"%><br>
    <%= "Vision $#{statement.vision_insurance.to_f}" %>
  </div>
  <div style="display: inline-block">
    <%= "FSA-HC $#{statement.fsa_contribution.to_f}" %><br>
    <%= "OASDI $#{statement.oasdi_deduction.round(2)}" %><br>
    <%= "Tax, Federal $#{statement.federal_tax.round(2)}" %><br>
    <%= "TSP Savings $#{statement.tsp_contribution.round(2)}" %>
  </div>
</div>
